{% extends 'layout.html' %}
{% load static from staticfiles %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}Sign Up {% endblock %}


{% block content %}
<div class="container">
    <h1>Sign Up</h1>
    <p style="padding:20px;"></p>
    <form method="POST" class="form-horizontal" role="form">{% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2 control-label">
                    {% bootstrap_label field.label %}
                </div>
                <div class="col-sm-4">
                    {% bootstrap_field field show_label=False form_group_class=None placeholder="" %}
                </div>
            </div>
            <p style="padding:10px;"></p>
        {% endfor %}

        {% buttons %}
        <div class="col-sm-offset-4 col-sm-2">
            <button type="submit" class="btn btn-md btn-primary">Sign Up</button>
        </div>
        {% endbuttons %}
    </form>
</div>
<div>
    <p style="padding:25px"></p>
</div>

{% endblock %}