{% extends 'layout.html' %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %} Wishl ist {% endblock %}

{% block content %}


<div class="container">
    <h2>Your Wish List:</h2>
    <p style="padding:20px;"></p>
    {% for item in wishlist %}
    <h3><a href = /books/{{item.book.id}}>Book: {{ item.book }}</a></h3>
    <h5>Qty: {{ item.qty }}</h5>

    <p style="padding:3px;">
        Total price: {{item.price}}
    </p>
    <div class="row">
        <form action="/cart/wishlist/drop/{{item.book.id}}/" method="POST" class="form-inline">
            {% csrf_token %}
            <input type="hidden" value="{{ item.book }}" name="drop">
            <button type="submit" class="btn btn-md btn-danger">Remove from Wishlist.</button>
        </form>
    </div>

    <hr>
    {% endfor %}

    <form action="/cart/" method="GET">
        <button type="submit" class="btn btn-success btn-md">Back to cart</button>
    </form>
    <p style="padding:25px;"></p>
</div>

{% endblock %}
