{% extends 'layout.html' %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}Display Credit Cards {% endblock %}

{% block content %}


<div class="container">
    <h2>My Credit Cards</h2>
    <p style="padding:20px;"></p>
    {% for cc in credit_cards %}
        <h3>Credit Card {{ forloop.counter }}</h3>
        <h4>{{ cc.credit_card_number }}</h4>
        <p style="padding:3px;"></p>
        <div class="row">
            <div class="col-sm-3">
                <form action="{% url 'accounts:updatecc' %}" method="GET" class="form-inline">
                    {% csrf_token %}
                    <input type="hidden" value="{{ cc.id }}" name="cc_id">
                    <button type="submit" class="btn btn-md btn-primary">Edit Credit Card</button>
                </form>
            </div>
            <div class="col-sm-3 col-sm-pull-1">
                <form action="{% url 'accounts:deletecc' %}" method="POST" class="form-inline">
                    {% csrf_token %}
                    <input type="hidden" value="{{ cc.id }}" name="cc_id">
                    <button type="submit" class="btn btn-md btn-danger">Remove Credit Card</button>
                </form>
            </div>
        </div>
        <hr>
    {% endfor %}

    <a class="btn btn-success btn-md" href="{% url 'accounts:createcc' %}">Add New Credit Card</a>

    <p style="padding:25px;"></p>
</div>


{% endblock %}
