{% load bootstrap3 %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container">
    <div class="modal-body">
        <form method="POST">{% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-2 control-label">
                        {% bootstrap_label field.label %}
                    </div>
                    <div class="col-md-3">
                        {% bootstrap_field field show_label=False form_group_class=None placeholder=field.field.initial %}
                    </div>
                </div>
            {% endfor %}

            <div class="col-sm-offset-4 col-sm-2">
                <button type="submit" class="btn btn-md btn-primary">submit</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>
