{% extends 'layout.html' %}
{% load bootstrap3 %}
{% load filters %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Author Listing: {% endblock %}
{% block content %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
      .carousel-control.left,.carousel-control.right  {background:none;width:25px;}
      .carousel-control.left {left:-20px;}
      .carousel-control.right {right:-25px;}
      .block-text {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 3px 0 #2c2222;
      color: #626262;
      font-size: 14px;
      margin-top: 27px;
      padding: 15px 18px;
  width: 350px;
    margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
      }
      .block-text a {
        width: 200px;
      color: #7d4702;
      font-size: 20px;
      font-weight: bold;
      line-height: 21px;
      text-decoration: none;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      }
      .mark {
      padding: 12px 0;background:none;
      }
      .block-text p {
      color: #585858;
      font-family: Georgia;
      font-style: italic;
      line-height: 20px;
      }
      .block-text ins {
      bottom: -44px;
      left: 10%;
      margin-left: -60px;
      }
      .block {
      display: block;
      }
      .zmin {
      z-index: 1;
      }
      .ab {
      position: absolute;
      }
      .person-text {
      padding: 10px 0 0;
      text-align: center;
      z-index: 2;
      }
      .person-text a {
      color: #ffcc00;
      display: block;
      font-size: 14px;
      margin-top: 3px;
      text-decoration: underline;
      }
      .person-text i {
      color: #fff;
      font-family: Georgia;
      font-size: 13px;
      }
      .rel {
      position: relative;
      }
      .img-circle {
      border-radius: 50%;
      }
      a {
      width=100;
      }
            h1 {
     font-size: 20
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: #7d4702;
      font-weight: bold;
      line-height: 40px;
      text-decoration: none;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

      }

                  h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      padding-left:15px;

      }
      p {
      width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      }
      p1 {
      width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      }
      p2 {
      width: 500px;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      }

      body {
  background: rgb(204,204,204);
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
border-radius: 5px;
  width: 23cm;
  height: 10cm;

}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img {
    text-align: center;
}

   </style>
    <ul>

		<page>
<div class="w3-col w3-container m2 ">
</div>
			<div class="w3-col w3-container m9 ">

	<ul class="pagination ">
		<li><a href="#">A</a></li>
		<li><a href="#">B</a></li>
		<li><a href="#">C</a></li>
		<li><a href="#">D</a></li>
		<li><a href="#">E</a></li>
		<li><a href="#">F</a></li>
		<li><a href="#">G</a></li>
		<li><a href="#">H</a></li>
		<li><a href="#">I</a></li>
		<li><a href="#">J</a></li>
		<li><a href="#">K</a></li>
		<li><a href="#">L</a></li>
		<li><a href="#">M</a></li>
		<li><a href="#">N</a></li>
		<li><a href="#">O</a></li>
		<li><a href="#">P</a></li>
		<li><a href="#">Q</a></li>
		<li><a href="#">R</a></li>
		<li><a href="#">S</a></li>
		<li><a href="#">T</a></li>
		<li><a href="#">U</a></li>
		<li><a href="#">V</a></li>
		<li><a href="#">W</a></li>
		<li><a href="#">X</a></li>
		<li><a href="#">Y</a></li>
		<li><a href="#">Z</a></li>

	</ul>

</div>
<div class="w3-col w3-container m1 ">
</div>
			</page>


        {% for author in all_authors %}
		 <div class="container">
			 <page></page>

                              <div class="w3-col w3-container m3 ">
							  </div>
            <!--<a href="/books/author/{{author.id}}">{{author.last}}, {{author.first}}</a>-->
                              <div class="w3-col w3-container m4 ">
 <br>
								   <br>
             <h1><a href='/author/id/{{ author.id }}'>{{ author.last }}, {{ author.first }}  </a></h1>


</div>
			                               <div class="w3-col w3-container m4 ">
 <br>
			 <img class="img-circle" src="/static/autpics/{{author.profile_pic}}" style="float:left;width:240px;height:240px;" hspace="0"/>
										   </div>

<hr>
                              <div class="w3-col w3-container m3 ">
							  </div>
			                               <div class="w3-col w3-container m4 ">
							  </div>
			<div class="w3-col w3-container m8 ">
				<p></p>
				<p></p>
				<page>
                 <h3>
                    {{author.about}}
                </h3>
					</page>
			</div>
                          

        <br>
		 </div>
		<br>


        {% endfor %}
    </ul>

{% endblock %}