{% extends 'layout.html' %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %} Book listing {% endblock %}

{% block content %}
    <ul>
        {% for book in all_books %}
        <li>
            <a href="/books/{{ book.id }}/">
                <img  src="/static/covers/{{ book.cover }}" height="128" width="128"/>
                {{book.title}}
            </a>
        </li>
        <br>
        {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if all_books.has_previous %}
            <a href="?page={{ all_books.previous_page_number }}"><font color="blue"><bold>Previous</bold></font></a>
        {% endif %}

        <span class="current">
            Page {{ all_books.number }} of {{ all_books.paginator.num_pages }}.
        </span>

        {% if all_books.has_next %}
        <a href="?page={{ all_books.next_page_number }}"><font color="blue"><bold>Next</bold></font></a>
        {% endif %}
    </span>
    </div>
    <br/>
    <a href="#" class="w3-bar-item w3-button" onClick="javascript:history.go(-1);">Go back</a>

    </ul>
{% endblock %}


