{% extends 'layout.html' %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %} Book listing {% endblock %}

{% block content %}
<style type="text/css">
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

 .badgescard, .firstinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .badgescard, .firstinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  min-height: 100%;
  background: rgb(204,204,204);
  font-size: 16px;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card {
  width: 800px;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  position: relative;
  overflow: hidden;
}
.card:after {
  content: '';
  display: block;
  width: 300px;
  height: 300px;
  background: #d7d7d7;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}

.badgescard {
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #ECECEC;
  width: 480px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: -1;
  left: 10px;
  bottom: 10px;
  animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}
.badgescard span {
  font-size: 1.6em;
  margin: 0px 6px;
  opacity: 0.6;
}

.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}
.firstinfo img {
  border-radius: 5%;
}
.firstinfo .profileinfo {
  padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
  font-size: 1.8em;
    overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}
.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: inherit;
  font-style: italic;
}
.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5A5A5A;
  font-style: initial;
  display: -webkit-box;
  -webkit-line-clamp: 5;
   -webkit-box-orient: vertical;
           overflow: auto;
        position: relative;
        margin-left: -5px;
                     text-overflow: ellipsis;
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -12px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -240px;
  }
  100% {
    transform: rotate(-30deg);
    top: -30px;
    left: -100px;
  }
}
.no-bullets {
    list-style-type: none;
}




</Style>
    <div class="w3-col w3-container m2 ">
    </div>
    <div class="w3-col w3-container m7 ">
        <ul class="no-bullets">
            <li>
                <div class="content">
                    <div class="card">
                        <div class="firstinfo">
                            <div class="profileinfo">
                                {% if section == "bestseller" %}
                                    <h1> {{ section_title }} </h1>
                                {% elif section == "genre" %}
                                    {% for name in section_title %}
                                        <h1> {{ name.genre }} </h1>
                                    {% endfor %}
                                {% elif section == "author" %}
                                    {% for name in section_title %}
                                        <h1> Books by: {{ name.first }} {{ name.last }} </h1>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <br>

            {% for book in all_books %}

            <li>
                <div class="content">
                    <div class="card">
                        <div class="firstinfo"><img src="/static/covers/{{ book.cover }}"width="120" height= "120"/>
                            <div class="profileinfo">
                                <h1><a href='/books/{{ book.id }}'> {{ book.title }}</a></h1>
                                <h3><a href='/books/byauthor/{{ book.author.id }}'>Author: {{ book.author }}</a>
                                </h3>
                                <p class="bio"> {{ book.about }}</p>
                                <p><b>Rating</b>:
                                                              {% for i in "12345" %}
                                      {% if book.rating >= forloop.counter %}
                                      <span class="glyphicon glyphicon-star"></span>
                                      {% else %}
                                      <span class="glyphicon glyphicon-star-empty"></span>
                                      {% endif %}
                                      {% endfor %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </li>
            {% endfor %}


            <br>
            {% if all_books.has_next %}
            <li>
                <div class="content">
                    <div class="card">
                        <div class="firstinfo">
                            <div class="profileinfo">
                                {% if all_books.has_previous %}
                                <a class="w3-bar-item w3-button"  href="?page={{ all_books.previous_page_number }}" style="padding-left:15px" >Previous</a>
                                {% endif %}

                                <span class="current">
                                     Page <b>{{ all_books.number }} </b> of {{ all_books.paginator.num_pages }}.
                                </span>

                                {% if all_books.has_next %}
                                     <a class="w3-bar-item w3-button"  href="?page={{ all_books.next_page_number }}" style="padding-left:15px" >Next</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </li>
            {% endif %}
            <br>
        </ul>
    </div>
    <div class="w3-col w3-container m3 ">
    </div>


{% endblock %}










