{% extends 'layout.html' %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %} Contact Us {% endblock %}

{% block content %}


<div class="container">
      <h1 align="center">Contact Us</h1>


<form method="POST">{% csrf_token %}
        {% for field in form %}

            <div class="form-group">
                <div class="col-md-offset-3 col-md-2 control-label">
                    {% bootstrap_label field.label %}
                </div>
                <div class="col-md-4">
                    {% bootstrap_field field show_label=False form_group_class=None placeholder="" %}
                </div>
            </div>


            <p style="padding:10px;"></p>
        {% endfor %}

        {% buttons %}
        <div class="col-sm-offset-4 col-sm-2">
            <button type="submit" class="btn btn-md btn-primary">Sign Up</button>
        </div>
        {% endbuttons %}
    </form>
</div>

<div>
    <p style="padding:25px"></p>
</div>

{% endblock %}